application:
    scanDirs: false
extensions:
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
services:
    testbench.presenterMock: Testbench\Mocks\PresenterMock
translation:
    localeResolver: manual
    loader:
        name: neon
        folders!:
            - %appDir%/../src/lang
