application:
    scanDirs: false
services:
    testbench.presenterMock: Testbench\Mocks\PresenterMock
    translator: EventCalendar\Translator
    latte.latteFactory:
        setup:
            - addFilter(translate, [@translator, translate])
