application:
    scanDirs: false
extensions:
    translation: Nexendrie\Translation\Bridges\NetteDI\TranslationExtension
services:
    googleData: Nexendrie\EventCalendar\Google\TestGoogleData
translation:
    localeResolver: manual
    loader:
        name: neon
        folders!:
            - %appDir%/../src/lang
mytester:
    colors: true
    coverageFormat: cobertura
